

    <h2></h2>
    <div class="header">
      <h1>🚀 Upload Resume</h1>
    </div>
    <%= form_with class: "form-group", url: "/resume_upload", multipart: true do |f| %>
      <%= file_field_tag :resume %>
      <div class="button-group">
        <button type="submit" class="btn-primary" id="">Upload</button>
        
      </div>
    <% end %>

